@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

/* CSS Code for Page-2 */

/* Code For  Overall Page */
*{
     margin: 0;
     font-family: "Montserrat" , sans-serif;
     padding: 0;
}

body {
     background-color : #000;
     color :#fff;
}

nav {
     background-color: rgba(0, 0,0,0.5);
     box-shadow: 0 0 10px 4px #5399;
     backdrop-filter: blur(5px);
     height: 60px;
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     display : flex;
     align-items: center;
     justify-content: center;
}


/* CSS Code for ul Tag  */

ul {
     margin: 0;
     padding: 0;
     display: flex;
     list-style: none;
     align-items: center;
}


/* CSS COde For list tag  */

li{
     margin: 0 10px;
}

/* CSS Code for a (Anchor Tag)  */

a {
     text-decoration : none;
     color: #fff;
     padding: 5px;
     display: block;
     align-content: center;
}


.active-1:hover , .active-3:hover {
     padding: 8px;
     background-color:#4e0a75ee ;
     /* box-sizing: border-box; */
     box-shadow: 0 0 4px 6px #1f1e1ea4;
     border-radius: 10px;
     backdrop-filter: blur(5px);
}

/* CSS Anchor tag clicked state  */

a:active ,a:checked {
     color: #FFD95A ;
}

/* CSS Code For Navigation icons  */

.n-icon{
     font-size : 24px ;
     /* padding: 3px; */
}


/* Css Code For Activation  */
.active-2 {
     content : "About";
     background-color:#4e0a75ee ;
     /* box-sizing: border-box; */
     box-shadow: 0 0 4px 6px #1f1e1ea4;
     border-radius: 10px;
     padding: 8px;
     /* backdrop-filter: blur(5px); */
} 


.img-continer {
     /* check */
     background-image: url('https://jamesachiver.github.io/Personal-portfolio/Practise/Images/peakpx.jpg');
     background-size: cover;
     background-position: right center;

     height: 300px;
     width: 100%;
}

#h1-mid {
     margin: 15px;
}


.container-2 {
     display: grid;
     text-align: justify;
     margin: 20px;
}

footer {
     text-align: center;
     padding: 18px;
     margin-top: 40px;
     color : #eee;
     background-color : #282A3A;
}

#f-version {
     display: flex;
     flex-direction :row-reverse;
     font-size : 10px;
     padding: 2px;
     justify-self: center;
}

.mid-pg2 {
     margin: 25px;
     margin-left: 50px;
     margin-top: 70px;
     padding: 10px;
     background-color : #e02d2d;
     border-radius: 5px;
     text-align: center;
}